.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  max-width: 65ch;
  width: 100%;
  box-sizing: border-box;
  gap: 10px;
}

textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}
